/* only small desktops */
/* tablets */
@media (min-width: 992px) and (max-width: 1199px) {
    .top-header .navbar .navbar-collapse ul li a {
         font-size: 17px;
         padding: 7px 15px;
    }
}

/* only small tablets */
 @media (min-width: 768px) and (max-width: 991px) {
     .top-header .navbar .navbar-collapse ul li a{
         padding: 5px 15px;
    }
    
     .top-header{
         position: relative;
         background-image: none;
         background-color: #fff;
    }
    
    .search-box {
        top: 12px;
        right: 15px; 
    } 
    
     .search-btn {
         background: #111;
    }
     .search-box:hover .search-txt {
         width: 240px;
         padding: 0 10px;
         border: solid #000 1px;
         height: 41px;
    }
     .top-header .navbar .navbar-collapse ul li a:hover, .top-header .navbar .navbar-collapse ul li a:focus {
         color: #0892fd;
    }

    .header_bottom::after {
        width: 50%;
        display: block;
        right: 0;
        content: "";
        background: #ff880e;
        height: 66px;
        position: absolute;
        top: 0;
        display: none;
    }

    .header_bottom {
        float: left;
        width: 100%;
        position: relative;
        bottom: 0;
    }

    .menu_orange_section::after {
        width: 70px;
        height: 66px;
        position: relative;
        content: "";
        display: block;
        background: #ff880e;
        left: -50px;
        transform: skew(30deg);
        display: none;
    }

    .menu_orange_section {
        float: right;
        position: relative;
        width: 100%;
        padding: 0 20px;
    }

    .site_information li:nth-child(1), .site_information li:nth-child(2) {
        visibility: hidden;
    }

    .site_information ul {
        float: right;
        width: 95%;
        padding: 21px 0 0;
    }

    .top-header #navbar-wd {
         padding-right: 0;
    }

    .navbar-nav {
    display: none;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    }
}

/* mobile or only mobile */
 @media (max-width: 767px) {
    .site_information {
         float: left;
         width: 100%;
    }

    .site_information ul li:nth-child(1),
    .site_information ul li:nth-child(2) {
        display: none;
    }

    .site_information ul li {
        width: 100%;
    }

    .menu_orange_section {
        width: 100%;
        padding: 0 15px;
    }

    .site_information ul {
        width: 100%;
    }

    .header_bottom {
        position: relative;
        bottom: 0;
    }

    .search-box:hover .search-txt {
        width: 190px;
        padding: 0 10px;
    }

    .top-header.fixed-menu {
        position: relative;
    }
    .top-header .navbar .navbar-collapse ul li a {
        padding: 5px 0;
        width: 100%;
    }
    .top-header .navbar {
       float: left;
       width: 100%;
    }
    .top-header .navbar .menu_section {
        width: 100%;
    }
    .header_bottom::after,.menu_orange_section::after {
        display: none;
    }
    .logo_section {
        width: 100%;
        text-align: center;
    }
    .navbar-brand{
         margin-left: 10px;
         margin-right: 10px;
    }
     .top-header .navbar .navbar-collapse ul li a{
         padding: 5px 15px;
    }

     .top-header{
         position: relative;
         background-image: none;
         background-color: #ecedef;
    }

     .navbar-brand img {
         width: 175px;
    }

    .search-box {
        right: 15px;
        top: 13px;
    }

     a.navbar-brand {
         left: 0;
         position: relative;
    }

     .top-header #navbar-wd {
         padding-right: 0;
    }

    .navbar-nav {
    display: none;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    }
}
